In [2]:
import pandas as pd 
# loading data 
df = pd.read_csv("desktop/student-mat.csv",delimiter = ';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
#extracting useful columns
df1 = df[['absences','G1','G2','G3','failures','studytime']]
df1.head()

   absences  G1  G2  G3  failures  studytime
0         6   5   6   6         0          2
1         4   5   5   6         0          2
2        10   7   8  10         3          2
3         2  15  14  15         0          3
4         4   6  10  10         0          2

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
#plt.scatter(df1.,df1.G3)
#plt.ylabel("G3")
#plt.show()

In [6]:
df1.corr()

           absences        G1        G2        G3  failures  studytime
absences   1.000000 -0.031003 -0.031777  0.034247  0.063726  -0.062700
G1        -0.031003  1.000000  0.852118  0.801468 -0.354718   0.160612
G2        -0.031777  0.852118  1.000000  0.904868 -0.355896   0.135880
G3         0.034247  0.801468  0.904868  1.000000 -0.360415   0.097820
failures   0.063726 -0.354718 -0.355896 -0.360415  1.000000  -0.173563
studytime -0.062700  0.160612  0.135880  0.097820 -0.173563   1.000000

In [59]:
import numpy as np
#randomly splitting data sets into train and test
msk = np.random.rand(len(df)) < 0.8
train = df1[msk]
test = df1[~msk]

In [60]:
from sklearn import linear_model
#applying linear regression algo
regr = linear_model.LinearRegression()
x = np.asanyarray(train[['absences','G1','G2','failures','studytime']])
y = np.asanyarray(train['G3'])
regr.fit(x,y)

print ('Coefficients: ', regr.coef_)
print ('intercept: ', regr.intercept_)

Coefficients:  [ 0.04451851  0.16941617  0.98265383 -0.26209884 -0.2792738 ]
intercept:  -1.6157073700704618

In [61]:
#accuracy
regr.score(test[['absences','G1','G2','failures','studytime']],test[['G3']])

0.894392247455762

In [86]:
# to check for the best accuracy
a = []
for i in range(10):
    msk = np.random.rand(len(df)) < 0.8
    train = df1[msk]
    test = df1[~msk]
    
    
    regr = linear_model.LinearRegression()
    x = np.asanyarray(train[['absences','G1','G2','failures','studytime']])
    y = np.asanyarray(train['G3'])
    regr.fit(x,y)
    
    l1 = regr.score(test[['absences','G1','G2','failures','studytime']],test[['G3']])
    a.append(l1)
    
    
    
print(max(a))

0.8604788462874253

In [91]:
y_hat= regr.predict(test[['absences','G1','G2','failures','studytime']])
y = np.asanyarray(test[['G3']])
print("Residual sum of squares: %.2f"
      % np.mean((y_hat - y) ** 2))


x = np.asanyarray(test[['absences','G1','G2','failures','studytime']])
print('Variance score: %.2f' % regr.score(x, y))

Residual sum of squares: 26.69
Variance score: 0.80